---
import Layout from "../layouts/Layout.astro";
import GraphicSpecies from "../components/GraphicSpecies.astro";
---

<Layout>
  <h1 class="text-2xl">Test Astro et Plot (Observablehq)</h1>
  <GraphicSpecies/>
  <div class="mb-25">
    <a href="./species/Adelie" class="bg-blue-500 text-white rounded px-5 py-2.5 border-b-3 border-r-3 border-blue-700 hover:border-0 transition-all">Voir Adelie</a>
    <a href="./species/Gentoo" class="bg-blue-500 text-white rounded px-5 py-2.5 border-b-3 border-r-3 border-blue-700 hover:border-0 transition-all">Voir Gentoo</a>
    <a href="./species/Chinstrap" class="bg-blue-500 text-white rounded px-5 py-2.5 border-b-3 border-r-3 border-blue-700 hover:border-0 transition-all">Voir Chinstrap</a>
  </div>
</Layout>
