---
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";
---

<Layout>
  <h1 class="text-2xl">Test Astro et Plot (Observablehq)</h1>
  <PlotFigure
  options={{
    marks: [
      Plot.dot(penguins, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          fill: "species",
        }),
      ],
    }}
  />
  <div class="mb-25">
    <a href="./species/Adelie" class="bg-blue-500 text-white rounded px-5 py-2.5 border-b-3 border-r-3 border-blue-700 hover:border-0 transition-all">Voir Adelie</a>
    <a href="./species/Gentoo" class="bg-blue-500 text-white rounded px-5 py-2.5 border-b-3 border-r-3 border-blue-700 hover:border-0 transition-all">Voir Gentoo</a>
    <a href="./species/Chinstrap" class="bg-blue-500 text-white rounded px-5 py-2.5 border-b-3 border-r-3 border-blue-700 hover:border-0 transition-all">Voir Chinstrap</a>
  </div>
</Layout>
